@keyframes bounce {
    0%,
    25% {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color:rgba(255,255,255,0.7);
        margin: -40px 0 0 -40px
    }
    100% {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0);
        margin: -80px 0 0 -80px;
    }
}
    .navbar1{
        padding:20px 0;
    }
    .navbar1 .navbar-brand{
        padding:4px 0;
    }
    .navbar1 .navbar-nav .nav-item{
        position:relative;
    }
    .navbar1 .navbar-nav .nav-link{
        padding: 13px 10px;
        font-size: 16px;
        color: #777777;
        line-height: 24px;
        font-weight: 400;
        text-transform:capitalize;
        position:relative;
    }
    .navbar1 .navbar-nav .nav-item:not(.btn-appointment)::before{
        width:1px;
        height:40px;
        position:absolute;
        left:50%;
        top:0;
        content:'';
        background:#e1ecff;
        margin-left:-2px;
        transform:rotate(45deg);
        opacity:0;
        visibility:hidden;
        -webkit-transition: opacity 0.3s ease-in-out;
        -ms-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }
    .navbar1 .navbar-nav .nav-item:not(.btn-appointment)::after{
        width:1px;
        height:40px;
        position:absolute;
        left:50%;
        bottom:0;
        content:'';
        background:#e1ecff;
        margin-right:-2px;
        transform:rotate(45deg);
        opacity:0;
        visibility:hidden;
        -webkit-transition: opacity 0.3s ease-in-out;
        -ms-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }
    .navbar1 .navbar-nav .nav-item:hover:not(.btn-appointment)::after,
    .navbar1 .navbar-nav .nav-item:hover:not(.btn-appointment)::before,
    .navbar1 .navbar-nav .nav-item.active:not(.btn-appointment)::after,
    .navbar1 .navbar-nav .nav-item.active:not(.btn-appointment)::before{
        opacity:1; 
        visibility:visible;
    }
    .navbar1 .navbar-nav .nav-item.btn-appointment .nav-link{
        background: #e00000;
        color: #fff;
        padding: 11px 30px;
        border-radius: 25px;
        text-transform: uppercase;
        border: 2px solid #e00000;
    }
    .navbar1 .navbar-nav .nav-item.btn-appointment.active .nav-link{
        color:#fff;
    }
    .navbar1 .navbar-nav .nav-item.btn-appointment .nav-link:hover{
        color:#e00000;
        background-color:transparent;
    }
    .navbar1 .navbar-nav .nav-item.btn-appointment{
        margin-left:15px;
    }
    .navbar1 .navbar-nav .nav-item{
        margin-left:15px;
    }
    .navbar1 .navbar-nav .nav-item:first-child{
        margin:0;
    }
    .navbar1 .navbar-nav .nav-item.active .nav-link,
    .navbar1 .navbar-nav .nav-link:hover{
        color:#e00000;
    } 
    .navbar-toggler{
        padding:0;
        outline:none;
        border:none;
    }
    .navbar-toggler-icon{
        display: inline-block;
        width: 40px;
        height: 3px;
        background: #000;
        position: relative;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
    }
    .navbar-toggler-icon:before {
        content: '';
        position: absolute;
        left: 0px;
        top: -11px;
        width: 100%;
        height: 3px;
        background: #000;
        border-radius: 4px;
        transition: all 0.35s ease-out;
        -webkit-transition: all 0.35s ease-out;
        backface-visibility: hidden;
    }
    .navbar-toggler-icon:after {
        content: '';
        position: absolute;
        left: 0px;
        bottom: -11px;
        width: 100%;
        height: 3px;
        background: #000;
        border-radius: 4px;
        transition: all 0.35s ease-out;
        -webkit-transition: all 0.35s ease-out;
        backface-visibility: hidden;
    }
    .navbar-toggler:not(.collapsed) .navbar-toggler-icon{
        background: rgba(0, 0, 0, 0);
    }
    .navbar-toggler:not(.collapsed) .navbar-toggler-icon:before {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        top: 0px;
    }
    .navbar-toggler:not(.collapsed) .navbar-toggler-icon:after {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        bottom: 0px;
    }